.navbar-custom{
    background-color: red;
    display: flex;
}
.menu-item{
    color: aliceblue;
    padding: 10px;
    width: 50%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}


.menu-item:hover{
    background-color: green;
   
}